.configurator{

    &-container {
        width: 100%;
        background-color: $poker-table-background;
        padding: 50px 20px;
        color: $black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
    
        @media (min-width: 769px) {
          align-items: center;
          padding: 80px 20px;
        }
      }

      &-colors{
        width: auto;
        @media (min-width: 1024px) {
            flex-direction: row;
          }
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
}

.color-pair{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $white;
    margin-bottom: 15px;

    &-square{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

        &-title{
            font-size: 14px;
            text-align: center;
        }

        &-active{
            border: 2px solid white;
        }

    }


}