.equity-calc {
  &-container {
    width: 100%;
    background-color: $poker-table-background;
    padding: 50px 20px;
    color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;

    @media (min-width: 769px) {
      align-items: center;
      padding: 80px 20px;
    }
  }

  &-button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      justify-content: flex-end;
    }

    & > button {
      border-radius: 5px;
      font-family: inherit;
      background-color: $button-gray;
      color: white;
      outline: none;
      border: 0;
      width: 100%;
      min-width: 90px;
      min-height: 40px;
      padding: 8px 20px;
      font-size: 14px;
      cursor: pointer;

      @media (min-width: 768px) {
        width: auto;
      }

      &:hover {
        background-color: $button-hover-gray;
      }

      & > svg {
        margin-right: 8px;
      }
    }
  }
}
