.site-wrapper{
    width: 100%;
    height: 100%;
}

.layout-container{
    margin-left: 65px;
    width: 100%;
    height: 100%;

    &-expanded{
        margin-left: 240px;
        width: 100%;
        height: 100%;
    }
}