.MuiSlider-marked.MuiSlider-vertical{
    color: white !important;
    margin-right: 0 !important;
}

.MuiSlider-vertical .MuiSlider-markLabel{
    color: white !important;
}

.MuiSlider-markLabel{
    color: white !important;
}

.MuiSlider-marked{
    margin-bottom: 0;
    color: white !important;
}