//colors for poker calculator
$white: white;
$black: black;
$border: #DBDBDB;


//navigation
$navigation-active: #402060;
$navigation-hover: #4E2675;

//equity calculator
$poker-table-background: rgb(34,37,51);
$desk-color: rgb(35, 78, 123);
$desk-border: rgb(124, 136, 124);
$desk-card-color: rgb(136,136,136);
$desk-card-color-hover:  #a7a6a6;
$desk-card-central-color: rgb(121,145,163);
$desk-card-central-color-hover: #8faabe;
$green: rgb(70,190,67);
$button-gray: rgb(57,59,72);
$button-hover-gray: #626578;