//colors for poker calculator
$white: white;
$black: black;

$border: #DBDBDB;


//navigation
$navigation-active: #402060;
$navigation-hover: #4E2675;

//poker table
$poker-table-background: rgb(34,37,51);
$desk-color: blue;