//colors for poker calculator
$white: white;
$black: black;
$border: #DBDBDB;


//navigation
$navigation-active: #402060;
$navigation-hover: #4E2675;

//equity calculator
$poker-table-background: rgb(34,37,51);
$desk-color: rgb(35, 78, 123);
$desk-border: rgb(124, 136, 124);
$desk-card-color: rgb(136,136,136);
$desk-card-color-hover:  #a7a6a6;
$desk-card-active-border-color: rgb(236,197,56);
$desk-card-active-bg-color: rgb(166,154,112);
$desk-card-active-bg-color-hover: #a09779;
$desk-card-central-color: rgb(121,145,163);
$desk-card-central-color-hover: #8faabe;
$green: rgb(70,190,67);

$button-gray: rgb(57,59,72);
$button-hover-gray: #626578;

$picker-border-color: rgb(164, 171, 179);
$picker-suit-symbol-bg: rgb(224,224,224);

//flop stats 
$button-green: #67bd65;
$button-green-hover: #569b54;

//squares
$blue-inactive-gradient1: rgba(188,230,251,1);
$blue-inactive-gradient2: rgba(202,198,230,1);
$blue-active-gradient1: rgba(27, 98, 211, 1);
$blue-active-gradient2: rgba(158, 151, 201, 1);

$red-inactive-gradient2: rgba(252, 196, 185, 1);
$red-active-gradient1: rgba(228, 34, 28, 1);
$red-active-gradient2: rgba(246, 157, 84, 1);

$yellow-active-gradient1: rgba(238,190,46,1);
$yellow-active-gradient2: rgba(211,214,131,1);
$yellow-inactive-gradient1: rgba(254,240,162,1);
$yellow-inactive-gradient2: rgba(249,250,225,1);

$green-active-gradient1: rgba(26,126,21,1);
$green-active-gradient2: rgba(198,201,121,1);
$green-inactive-gradient1: rgba(185,239,134,1);
$green-inactive-gradient2: rgba(197,232,201,1);

$gray-active-gradient1: rgba(67,66,65,1);
$gray-active-gradient2: rgba(121,134,158,1);
$gray-inactive-gradient1: rgba(219,219,215,1);
$gray-inactive-gradient2: rgba(196,196,196,1);

$bar-filled-bg: #243d49;