@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$extra-small-font-size: 12px;
$small-font-size: 14px;
$base-font-size: 16px;
$medium-font-size: 20px;
$large-font-size: 24px;
$extra-large-font-size: 30px;